@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}

.marquee span {
  padding-right: 4rem;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
  